$spacing: 15px;

body, html {
	background-color: black;
	height:100%;
}

body {
	display: flex;
	flex-direction: column;
}

.table-no-border td, .table-no-border th {
	border: none !important
}

.dark-border {
	border: 1px solid #333;
}

$header_height: 50px;
header {
	height: $header_height;
	color: white;
	background-color: #005ea5;

	h1 {
		font-family: "nta", Arial, sans-serif;
	    padding: $spacing;
	    font-weight: bold;
	}

}

.main {
	flex-grow:1;
	width:100%;
	display: flex;
	flex-direction: column;

	#content {
		margin: $spacing 0;
		flex-grow: 1;
	}

	#debug {
		padding: $spacing;
	}

    #video-wrapper {
        box-sizing: border-box;
    	padding: $spacing;
    	height:100%;
    	position: relative;

    	#video-status {
    	   	position: absolute;
		    top: 50%;
		    left: 0;
		    width: 100%;
		    text-align: center;
		    color: white;
		    opacity: 0.8;
    	}

    	#video {
			width: 100%;
			max-height: 100%;
    	}
    }

    #details {
    	color: white;
        box-sizing: border-box;
    	padding: $spacing;
    	height:100%;
	    border-radius: 3px;

	    #details-toggle {
	    	float:right;
	    }
    }

	
}